body{
	background-color: #eee;
}
.container{
	
	padding-top: 40px;
}
.row{

	width: 100%;
	border: 2px solid #B22222;
	border-radius: 36px;
	background: #333;
    color: blanchedalmond;
	font-size: 15px;
}

#accdet{
	padding: 17px;
    background: #333;
    font-size: 36px;
    margin: 20px;
    color: coral;
    border-radius: 153px;
}

.details{
	display:flex;
	justify-content:center;
}
.temp{
	display:flex;
	justify-content:center;
}
